@import '../mixins/mixins.scss';

$fontFamily: 'Montserrat', sans-serif;

$mainColor: #2b6684;
$secondaryColor: #98c1c5;

$_768: 767.98px;
$reasonsListSize: 1479px;

%fonts {
  font-family: $fontFamily;
  font-style: normal;
}

%fz-64 {
  @include adaptive(font-size, 64, 24);
  @include adaptive(line-height, 64, 24);
}
%fz-24 {
  @include adaptive(font-size, 24, 12);
  @include adaptive(line-height, 27, 13);
}

%speakingListSize {
  height: 216px;
  width: 824px;
}

// Шаблоный брейкпоинтов

//  768px
// @media screen and (max-width: $_768) {}
