@import '../mixins/mixins.scss';

$fontFamily: 'Montserrat', sans-serif;
$font_Nexa: 'NexaScript', sans-serif;

$mainColor: #2b6684;
$secondaryColor: #98c1c5;
$backgroundListColor: #f6f6f6;

$_768: 767.98px;
$_1024: 1023.98px;
$reasonsListSize: 1479px;

%headerButton {
  @extend %fonts;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.105em;
  color: #528c83;

  &:hover {
    transition: 0.5s;
    opacity: 0.6;
  }
}

%fonts {
  font-family: $fontFamily;
  font-style: normal;
}

%fz-96 {
  @include adaptive(font-size, 96, 48);
  @include adaptive(line-height, 107, 54);
}
%fz-64 {
  @include adaptive(font-size, 64, 24);
  @include adaptive(line-height, 64, 24);
}

%fz-64-18 {
  @include adaptive(font-size, 64, 18);
  @include adaptive(line-height, 64, 18);
}

%fz-60 {
  @include adaptive(font-size, 60, 18);
  @include adaptive(line-height, 60, 18);
}

%fz-48-14 {
  @include adaptive(font-size, 48, 14);
  @include adaptive(line-height, 46, 13);
}

%fz-36 {
  @include adaptive(font-size, 36, 18);
  @include adaptive(line-height, 36, 18);
}

%fz-36-40 {
  @include adaptive(font-size, 36, 16);
  @include adaptive(line-height, 40, 18);
}

%fz-36-35 {
  @include adaptive(font-size, 36, 16);
  @include adaptive(line-height, 35, 18);
}

%fz-36-40-18 {
  @include adaptive(font-size, 36, 18);
  @include adaptive(line-height, 40, 18);
}
%fz-36-40-12 {
  @include adaptive(font-size, 36, 12);
  @include adaptive(line-height, 40, 13);
}

%fz-36-14 {
  @include adaptive(font-size, 36, 14);
  @include adaptive(line-height, 36, 14);
}

%fz-36-12 {
  @include adaptive(font-size, 36, 12);
  @include adaptive(line-height, 34, 11);
}

%fz-30 {
  @include adaptive(font-size, 30, 8);
  @include adaptive(line-height, 29, 8);
}

%fz-24 {
  @include adaptive(font-size, 24, 12);
  @include adaptive(line-height, 27, 13);
}
%fz-24-14 {
  @include adaptive(font-size, 24, 14);
  @include adaptive(line-height, 27, 16);
}

%fz-24-10 {
  @include adaptive(font-size, 24, 10);
  @include adaptive(line-height, 24, 10);
}

%fz-24-8 {
  @include adaptive(font-size, 24, 8);
  @include adaptive(line-height, 27, 9);
}

%fz-24-12 {
  @include adaptive(font-size, 24, 12);
  @include adaptive(line-height, 37, 15);
}

%fz-20-35 {
  @include adaptive(font-size, 20, 14);
  @include adaptive(line-height, 35, 25);
}

%fz-20-25 {
  @include adaptive(font-size, 20, 14);
  @include adaptive(line-height, 25, 18);
}

%fz-button {
  @include adaptive(font-size, 24, 10);
  @include adaptive(line-height, 37, 15);
}

%fz-18 {
  @include adaptive(font-size, 18, 12);
  @include adaptive(line-height, 20, 13);
}

%fz-18-27 {
  @include adaptive(font-size, 18, 10);
  @include adaptive(line-height, 27, 15);
}

%fz-18-23 {
  @include adaptive(font-size, 18, 12);
  @include adaptive(line-height, 23, 15);
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%speakingListSize {
  height: 216px;
  width: 824px;
}

// Шаблоный брейкпоинтов

//  768px
// @media screen and (max-width: $_768) {}
