@import '../../variables/variables.scss';

.button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.105em;
  @include adaptivePadding(padding, 40, 55, 14, 20);
  @include adaptive(border-radius, 10, 5);
  @extend %fz-button;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.light {
  $color: #98c1c5;
  $reverceColor: #fff;
  $activeColor: #032e42;
  $disabledColor: rgba(152, 193, 197, 0.6);
  color: $reverceColor;
  background: $color;
  border: 3px solid $color;
  &:hover {
    background: $reverceColor;
    color: $color;
  }
  &:active {
    background: $activeColor;
    border-color: $activeColor;
    color: $reverceColor;
  }
  &:disabled {
    background: $disabledColor;
    color: #fff;
    border-color: $disabledColor;
    cursor: not-allowed;
  }
}
.dark {
  $color: #2b6684;
  $reverceColor: #ffffff;
  $activeColor: #032e42;
  $disabledColor: rgba(43, 102, 132, 0.6);

  color: $reverceColor;
  background: $color;
  border: 3px solid $color;

  &:hover {
    background: $reverceColor;
    color: $color;
  }
  &:active {
    background: $activeColor;
    border-color: $activeColor;
    color: $reverceColor;
  }
  &:disabled {
    color: $disabledColor;
    cursor: not-allowed;
  }
}

%circleSettings {
  $color: #98c1c5;
  $reverceColor: #ffffff;
  $hoverColor: #2b6684;
  $activeColor: #032e42;
  $disabledColor: rgba(152, 193, 197, 0.6);
  color: $reverceColor;
  background-color: $color;
  border: none;
  border-radius: 100%;
  background-image: url('./images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;
  width: 60px;
  height: 60px;
  padding: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  &:hover {
    background-color: $hoverColor;
    color: $color;
  }
  &:active {
    background-color: $activeColor;
    color: $reverceColor;
  }
  &:disabled {
    color: $reverceColor;
    cursor: not-allowed;
    background-color: $disabledColor;
  }
}
.circle {
  @extend %circleSettings;
}
.circle_previous {
  @extend %circleSettings;
  transform: rotateY(180deg);
}
