@import '../../../variables/variables.scss';

.section {
  width: 100%;
  background: #f6f6f6;
}

.wrapper {
  @extend %fonts;
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  color: $mainColor;
}
.title {
  @extend %fz-64;
}
.text {
  @extend %fz-24;
}
