@import '../../mixins/mixins.scss';

.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: calc(18px + (64 - 18) * ((100vw - 320px) / (1556 - 320)));
  line-height: calc(18px + (64 - 18) * ((100vw - 320px) / (1556 - 320)));
  text-align: center;
  letter-spacing: 0.035em;
  @include adaptive(width, 1254, 278);
  @include adaptivePadding(margin, 154, 333, 99, 21);

  &__color {
    color: #2b6684;
  }
}
