@import '../../variables/variables.scss';
@import '../../mixins/mixins.scss';

.list {
  list-style-type: none;

  &__speaking {
    width: $reasonsListSize;
  }

  &__separated {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
