@import '../../../variables/variables.scss';

.navbar {
  display: none;
  width: 100%;
  position: absolute;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  border: none;
  background-color: #e5e5e5;
  z-index: 1;
  @media screen and (max-width: $_1024) {
    display: block;
  }
}

.psyco {
  @extend %headerButton;
  width: 320px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  box-shadow: 20px 20px 200px rgba(240, 240, 240, 0.48);
  cursor: pointer;
  margin-bottom: calc(5px + 15 * ((100vw - 320px) / 780));

  &:hover {
    color: #fff;
    background: #accdd0;
  }
}

.button {
  @extend %headerButton;
  border: none;
  outline: none;
  width: 320px;
  height: 76px;
  background: #fdfdfd;
  box-shadow: 20px 20px 200px rgba(240, 240, 240, 0.48);
  cursor: pointer;
  margin-bottom: calc(5px + 15 * ((100vw - 320px) / 780));

  &:hover {
    color: #fff;
    background: #accdd0;
  }
}

.entrance {
  @extend %headerButton;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 76px;
  background-color: #fdfdfd;
  box-shadow: 20px 20px 200px rgba(240, 240, 240, 0.48);
  cursor: pointer;
  margin-bottom: calc(5px + 15 * ((100vw - 320px) / 780));

  &:hover {
    color: #fff;
    background: #accdd0;
  }

  &::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url('../images/Lock.svg');
    @include adaptive(top, 30, 27);
    @include adaptive(left, 110, 110);
  }
}

.logoContainer {
  display: flex;
  margin-top: calc(27px + 46 * ((100vw - 320px) / 700));
  margin-left: calc(24px + 46 * ((100vw - 320px) / 700));
  margin-bottom: calc(0px + 30 * ((100vw - 320px) / 700));
  background-color: #fdfdfd;
}

.navbarIsOpened {
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  transform: translateY(0);
  z-index: 1;
}

.navbarIsClosed {
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.navbarList {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(5px + 15 * ((100vw - 320px) / 700));
  align-items: center;
  background-color: #fdfdfd;
  a {
    box-shadow: 20px 20px 200px rgba(240, 240, 240, 0.48);
  }
  button {
    box-shadow: 20px 20px 200px rgba(240, 240, 240, 0.48);
  }
}
